<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    var view = "site/aboutus"
</script>
<div class="container">
    <header class="page-header">
        <h1>
            关于我们
        </h1>
    </header>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" role="main">
            <div class="chinese-content bs-callout bs-callout-info">
                <h4><strong>Geek学院是什么？</strong></h4>
                <p>Geek学院是一个在线类柏拉图学院（或称雅典学院），提供平台使每个人都可以成为老师来进行交流。你可以在这里：</p>
                <ul>
                    <li>和与你有相同兴趣的人讨论</li>
                    <li>查阅感兴趣的资料</li>
                    <li>以讲座的方式发表你的学习成果并进行交流</li>
                </ul>
                <p>Geek学院的创始人是Soros Liu，它是一个独立的项目，目前由Geek学院管理员组成的Geek学院在线教育组织进行管理。</p>
                <h4><strong>Geek学院的目标</strong></h4>
                <p>较于国外如火如荼的MOOC，国内的MOOC浪潮仍尚未开始，尤其对于广大的青少年，获取知识尤其是课外知识的途径犹为乏善可陈。由于广大中学生英语能力所限，国外很多教育资源也未能传入国内被更充分的利用。我们可以通过这个网站把在某些方面有特长的青少年和老师们聚集起来，搭建一个大家可以互相帮助互相学习的平台。因为每个人都有一些独特的的技能，都有一些特别热爱特别擅长的领域，这些交流和互相教育可以让想要学习更多科学知识的人更好的学习，学习学校没有教授（或现阶段没有教授）的课程，分享更多的学习资料，帮助更多的学生互相教育，互相学习。我们不仅要建立一个资料共享平台，这个网站的特征同时也会让同学们找到更多志同道合的人，互相交流思想情感和学习生活。我们想建立一个社交功能很强的MOOC网站。我们正想把它办成中学生互相学习，思考，交流的平台，使得同学们有地方满足学校不能满足的求知欲</p>
                <h4><strong>Geek学院在线教育组织</strong></h4>
                <p>Geek学院在线教育组织是由Geek学院管理员们建立而成的，面向于公众的以传播知识为主要目标的非营利组织。2013年7月，随着Geek学院网站建立计划的正式启动而创立。在创始人Soros Liu和Geek学院成员的努力下，为中国的学生的知识来源的增加做着努力。</p>
            </div>
        </div>
    </div>
</div>