<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    var view = "site/donate"
</script>
<div class="container">
    <header class="page-header">
        <h1>
            捐助我们
        </h1>
    </header>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" role="main">
            <div class="chinese-content bs-callout bs-callout-info">
                <h4><strong>支付宝</strong></h4>
                <p>771615472@ qq.com 刘诗洋</p>
                <h4><strong>银行转账</strong></h4>
                <p>开户行：招商银行 卡号：6214 8365 5033 9291 户名：刘诗洋</p>
                <h4><strong>邮局汇款</strong></h4>
                <p>地址：深圳市罗湖区深南东路5047号深圳发展银行大厦稽核部 收件人：石蔚明</p>
                <h4><strong>比特币</strong></h4>
                <p>请联系 Email：klionxu@mooncn.org 索取地址</p>
            </div>
        </div>
    </div>
</div>