<script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    var view = "site/privacy"
</script>
<div class="container">
    <header class="page-header">
        <h1>
            隐私政策
        </h1>
    </header>
    <div class="row">
        <div class="col-md-8 col-md-offset-2" role="main">
            <div class="chinese-content bs-callout bs-callout-info">
            	<h4><strong>信息收集</strong></h4>
            	<p>在访问网站或使用服务的过程中，我们会收集您的一些信息</p>
            </div>
        </div>
    </div>
</div>