<script type="text/javascript">
    var view = "home/dash"
</script>
<div class="jumbotron">
    <div class="container">
        <h1>Bonjour!</h1>
        <!-- TODO : PUT A BIIIIIIIIIIIIIIG CAROUSEL HERE//-->
        <p>やらないか？</p>
        <p>
          <%=link_to 'Sign Up',register_path , :class => "btn btn-primary btn-lg"%>
        </p>
    </div>
</div>
<div class="container">
    <!-- Shiina Misaki //-->
    <div class="row">
            <div class="col-lg-3 thumbnails">
                <li class="tile tile-double home_index_striking home_index_padbox home_index_striking_ani">
                    <h3>自由</h3>
                    <p>学员自己开设讲座，平等对话学习。全力支持学员个人讲座。由学院推动鼓励措施，建立助教小组。同时对课程开放性学习。通过翻译国外成熟MOOC教学视频，提高知识覆盖面。对各个课程建立在线题库。由讲师与助教团队协助。</p>
                </li>
            </div>
            <div class="col-lg-3 thumbnails">
            <li class="tile tile-double home_index_striking home_index_padbox home_index_striking_ani">
                <h3>开放</h3>
                <p>建立学院实验室。对于同学各种Idea的可行性进行探讨和互助。促进IDEA转变为成熟方案。 对于某些在线项目，可以直接依托学院平台实施。</p>
            </li></div><div class="col-lg-3 thumbnails">
            <li class="tile tile-double home_index_striking home_index_padbox home_index_striking_ani">
                <h3>愉快</h3>
                <p>建立生活型板块。防止诸位过于寂寞…
                促进学员间的友好和谐相处。促进知识的流动与素质的提升。
                建立全面的新生引导机制。
                借助徽章与积分。激励学员学习。 </p>
            </li></div><div class="col-lg-3 thumbnails">
            <li class="tile tile-double home_index_striking home_index_padbox home_index_striking_ani">
                <h3>分享</h3>
                <!-- MSYS去死！//-->
                <p>由学员推荐，给各位介绍某些领域的书籍。学员发布笔记。某一时段，某一本书，建立阅读小组，共同阅读，提高阅读效率，同时将书的精华，写书摘，做笔记，评价看过的各个专业领域的书。</p>
            </li></div> 
    </div>

</div>
