<script type="text/javascript">
    var view = "home/verify"
</script>
<div class="container">
    <header class="page-header">
        <h1>Login Successful</h1>
    </header>
    <div class="alert alert-block alert-success">
        <h3>登陆成功</h3>
        <p>亲爱的 <%=@user_base.username%>，你已经成功登陆了！接下来你可以前往：</p>
        <ul>
        <li>用户中心</li>
        <li>课程列表</li>
        <li>论坛</li>
        </ul>
        <br />
    </div>
</div>